!!!
%head
  %title Ping Pong
  %link(rel="stylesheet" type="text/css" href="css/openshift.css")
%body
  %h1
    = message
  %p
    %a(href="/clojure/") clojure:
    %a(href="/clojure/ping") ping
    %a(href="/clojure/pong") pong
  %p
    %a(href="/ruby/") ruby:
    %a(href="/ruby/ping") ping
    %a(href="/ruby/pong") pong
